/* font code start */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* font code end */
*{
    font-family: "Quicksand", serif;
  
  font-style: normal;
}
/* hover efect start */

/* nav part */
.home:hover{
    background-color: rgba(254, 163, 1, 1);
    color: white;
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 5px;
}
.about-li:hover{
    background-color: rgba(1, 172, 253, 1);
    color: white;
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 5px;
}
.faci:hover{
background-color: rgba(5, 212, 223, 1);
color:#fff;
padding: 7px 10px;
font-weight: 700;
border-radius: 5px;
}
.admi:hover{
background-color: rgba(93, 88, 239, 1);
color: white;
padding: 7px 10px;
font-weight: 700;
border-radius: 5px;
}
/* nav button */
.nav-btn:hover{
color: white;
background-color: rgb(253, 255, 255);
/* box-shadow: 0px 0px 6px black; */
background: linear-gradient(to left,orange,skyblue);
}
/* banner section endroll now button */
.banner-section-btn:hover{
    background: linear-gradient(to left,orange,skyblue);
}
 .t-box-f-a:hover{
    background-color: skyblue;
    padding: 7px 10px;
font-weight: 700;
border-radius: 5px;
    color: white;
 }
 .t-box-s-a:hover{
    background-color: rgba(254, 163, 1, 1);
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 5px;
        color: white;
 }
 .t-box-t-a:hover{
    background-color: rgba(93, 88, 239, 1);
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 5px;
        color: white;
 }
/* hover efect end */

/* shared style part start */

.orange{
    color: rgba(254, 163, 1, 1);
}
.orange-bg{
    background-color: rgba(254, 163, 1, 1);
}
.sky-blue{
    color: rgba(1, 172, 253, 1);

}

/* shared style part end */
/* nav section start */
#navbar{
    display: flex;
    max-width: 1158px;
    align-items: center;
    margin: 10px auto;
    justify-content: space-between;
}
.logo-and-logo-title{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;

}
/* logo section style */

.logo-title-parent{
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 2rem;
}
/* nav item links style */
ul li{
    list-style: none;
    margin-right: 32px;
   
}
ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    
}
/* .link-item-1{

}
.link-item-2{

} */
.link-item-3{
color: rgba(5, 212, 223, 1);
}
.link-item-4{
color: rgba(93, 88, 239, 1)
}

/* nav button style */

.nav-btn{
    color: white;
    border: none;
    padding: 10px 60px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 10px;
   
    
}
/* dropdown button section style */
.dropdown-img-parent{
    /* height: 50px; */
    width: 57px;
  display: none;
}
.main-dropdown-img{
    width: 100%;
}

/* nav section end */
/* banner part start */
.banner-big-content{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-small-content{
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 1.2rem;
}
/* banner button option */
/* banner section */
.total-banner-part-parent{
    display: flex;
    max-width: 1158px;
    margin: 18px auto;
    align-items: center;
}
.banner-section-btn{
    color: white;
    font-weight: bold;
    background-color: rgba(17, 17, 17, 1);
    font-size: 1.2rem;
    border: none;
    padding: 10px 60px;
    border-radius: 10px;
}
/* banner part end */
/* .................... */

/* main part start */
/* main start part */
.main-parent{
    background-image: url(assets/bg.png);
    background-position: top 40px;
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: -10px;
}
/* Standard-Curriculum-section */
.Standard-Curriculum-section{
    max-width: 560px;
    color:rgba(0, 0, 0, 1);
    font-size: 2.9rem;
    /* background-image: url("assets/bg.png"); 
     background-size: 500px; */
    margin: 0px auto;
    
    font-weight: bold;
}

/* three boxes part start */




/* some shared style */
.three-box-shred-big-title{
font-weight: bold;
font-size: 1.5rem;
color: rgba(32, 32, 32, 1);
}
.three-box-shred-small-title{
font-weight: 500;
font-size: 1rem;
margin-top: 20px;
color: rgba(128, 128, 128, 1);
font-family: "Raleway", serif;
}
.text-decoration{
    text-decoration: none;
}
/* three box styles */
/* three boxes main parent  */
.three-box-parent-section-in-main{
    display: flex;
    align-items: center;
    max-width: 1160px;
    /* max-height: 481px; */
    margin: 80px auto;
    text-align: center;
    gap: 28px;
    /* border: 2px solid; */
   
}
/* linier grdient style start*/
/* first box gradient use */
.first-box-parent-section-in-main {
    background-image: linear-gradient(to top, rgb(255, 254, 255) 80%, rgba(153, 209, 255, 0.678));
}
/* second box gradient use */
.second-box-parent-section-in-main{
    background-image: linear-gradient(to top, white 80%, rgba(240, 168, 0, 0.45));
    
}
/* third box gradient use */
.third-box-parent-section-in-main{
    background-image: linear-gradient(to top, white 80%, rgba(147, 87, 226, 0.399));
    max-height: 425px;
}
/* linier grdient style end */
/* only three boxes parent */
.three-box-parent-max-width{
    max-width: 390px;
   box-shadow: 0px 0px 5px black;
    padding: 70px 60px 50px 70px;
    /* padding: 60px 70px 60px 70px; */
    margin: 0 auto;;
    border-radius: 15px;
}

    .t-box-width-height{
   max-width: 347px;
   max-height: 310px;
   
   
}

/* three boxes read more pard (a tag part) */
.t-box-f-a{
color: rgba(100, 200, 255, 1);
font-weight: bold;
/* margin-top: 35px; */
}
.t-box-s-a{
color: rgba(240, 170, 0, 1);
font-weight: bold;
/* margin-top: 50px; */

}
.t-box-t-a{
    color: rgba(135, 0, 255, 1);
    font-weight: bold;
   

}
.three-box-first-img-parrent{
    /* width: 130px; */
    height: 130px;
   
}
/* three boxes part end */
/* ,,,,,,,,,,,,,,,,,, */
/* 2 arrow part start */
.arrow-part-parent{
    max-width: 130px;
    max-height: 60px;
    display: flex;
    margin: 0px auto;
    gap: 10px;
    margin-bottom: 80px;

}

/* 2 round shred style */
.round{
height: 60px;
width: 60px;
/* border: 2px solid; */
border-radius: 60%;

}
.bg-round-img{
    background-image: url("assets/arrow-removebg-preview.png");
   background-size: 40px;
   background-position: center;
   background-repeat: no-repeat;
   background-color: orange;
}
.left-arrow{
    transform: rotate(180deg);
}
.round:hover{
    box-shadow: 0px 0px 10px yellow;
}

/* 2 arrow part end */
/* our story main section */
.our-stories-and-to-btn-sec{
    background-image: url(assets/bg.png);
    background-position: 100px;

    
    background-image: linear-gradient(to top, rgba(212, 137, 8, 0.309) 60%, white);
    height: 930px;
}
#total-our-story-to-footer{
    background-image: url("assets/bg.png");
    /* background-size: 200px; */
    /* background-repeat: no-repeat; */
    /* background-position: top center; */
}
.our-stories-section-parent{
    max-width: 460px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 60px;
    background-image: url(assets/bg.png);
    /* background-size: px; */
    /* background-position: ; */
}
.our-stories-text-parent{
    font-weight: bold;
    font-size: 2.9rem;
    text-align: center;
    
}
/* our story title end part */
/* ..................... */
/* ,,,,,,,,,,,,,,,,,,, */
/* main part end*/

/* ...................... */
/* five boxes style */
/* five box main parent */
.total-5-box-main-parent{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    gap: 18px;
    /* justify-content: center; */
}
/* ..................... */
/* five box shered style start */
.five-box-font-family{
    font-family: "Raleway", serif;
}
/* five box shered style end */
/* ................. */

/* big box style start */
/* big box main parent */
.big-box{
max-width: 538px;
max-height: 630px;
background-color: white;
/* border: 2px solid red; */
box-shadow: 0px 0px 5px black;
border-radius: 16px;
}
/* big box img part */
.main-five-box-img-box{
    max-width: 540px;
    max-height: 337px;
    /* padding-right: 0px; */
/* padding: 10px 10px 10px 10px; */
    border-radius: 13px;
}
/* big box button */
.big-box-button{
    background-color: skyblue;
    padding: 15px 19px;
    border: none;
    font-size: 1rem;
    border-radius: 30px;
    position: relative;
    top: -29px;
    left: 20px;
    
}
/* big box big title */
.big-box-big-tittle-in-five-box{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding: 10px 80px 20px 38px;
}
/* big box small title */
.big-box-small-tittle-in-five-box{
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    /* padding: 0px 60px 20px 30px; */
}

/* ................. */
/* small four box part start */
/* ...... */
/* small boxex main parent start 
*/
.total-four-small-box-parent{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 19px;
}

/* small boxex main parent end */
/* ......... */
/* four box same class */
.small-box{
    max-width: 290px;
    max-height: 300px;
    box-shadow: 0px 0px 5px black;
    border-radius: 13px;
    background-color: #fff;
}
/* four box same button */
.five-all-btn{
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(149, 178, 38, 1);
    color: white;
    border: none;
    padding: 10px 19px;
    border-radius: 30px;
    position: relative;
    top: -25px;
    left: 39px;
}
/* small-box-small-title same class */
.small-box-small-title{
font-size: 1rem;
font-weight: bold;

max-width: 210px;
position: relative;
top: -10px;
padding: 0px 50px 20px 34px;
}
.small-five-img-small{
    border-radius: 13px;
}
/* small four box part end */
/* ................. */


/* big five box style end */
/* main last btn style start */
.main-end-button-total-parent{
    max-width: 200px;
    /* max-height: 140px; */
background-image: url("assets/bg.png");
/* background-position: top cenetr; */
background-position-x: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 60px;
text-align: center;

}
.real-btn-end{
    color: white;
    background-color: black;
    padding: 10px 60px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    
}
/* main last btn style end*/
/* footer section style start */
footer{

    height: 519px;
   
    
}
/* logo and all of footer parent  */
/* total footer parent part start*/
#total-logo-and-content-part{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}
.position{
    position: relative;
    top: 64px;
}
/* total footer parent part end*/


/* footer shared style start */
.footer-shared-style{
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
}
/* footer shared style end*/


/* logo and logo title part */
.logo-and-logo-title-footer-part{
    display: flex;
    align-items: center;
    max-width: 299px;
    max-height: 200px;
    gap: 10px;
}

/* about school section part */
.about-school-text{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* some social media part start*/
/* ........................... */
/* social media tittle part star */
.social-media-title-part{
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}
/* social media tittle part end */
/* .............................. */
/* social media img part */
.social-medias-in-footer{
    display: flex;
    gap: 10px;
}
/* some social media part end*/
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* footer section style end */