/* font code start */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* font code end */
*{
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style part start */

.orange{
    color: rgba(254, 163, 1, 1);
}
.orange-bg{
    background-color: rgba(254, 163, 1, 1);
}
.sky-blue{
    color: rgba(1, 172, 253, 1);

}

/* shared style part end */
/* nav section start */
#navbar{
    display: flex;
    max-width: 1158px;
    align-items: center;
    margin: 10px auto;
    justify-content: space-between;
}
.logo-and-logo-title{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;

}
/* logo section style */

.logo-title-parent{
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 2rem;
}
/* nav item links style */
ul li{
    list-style: none;
    margin-right: 32px;
   
}
ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    
}
/* .link-item-1{

}
.link-item-2{

} */
.link-item-3{
color: rgba(5, 212, 223, 1);
}
.link-item-4{
color: rgba(93, 88, 239, 1)
}

/* nav button style */

.nav-btn{
    color: white;
    border: none;
    padding: 10px 60px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 10px;
   
    
}
/* dropdown button section style */
.dropdown-img-parent{
    /* height: 50px; */
    width: 57px;
    /* display: none; */
}
.main-dropdown-img{
    width: 100%;
}

/* nav section end */
/* banner part start */
.banner-big-content{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-small-content{
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 1.2rem;
}
/* banner button option */
/* banner section */
.total-banner-part-parent{
    display: flex;
    max-width: 1158px;
    margin: 18px auto;
    align-items: center;
}
.banner-section-btn{
    color: white;
    font-weight: bold;
    background-color: rgba(17, 17, 17, 1);
    font-size: 1.2rem;
    border: none;
    padding: 10px 60px;
    border-radius: 10px;
}
/* banner part end */
/* .................... */

/* main part start */
/* main start part */
.main-parent{
    background-image: url(assets/bg.png);
    background-position: top 40px;
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: -10px;
}
/* Standard-Curriculum-section */
.Standard-Curriculum-section{
    max-width: 560px;
    color:rgba(0, 0, 0, 1);
    font-size: 2.9rem;
    /* background-image: url("assets/bg.png"); 
     background-size: 500px; */
    margin: 0px auto;
    
    font-weight: bold;
}

/* three boxes part start */




/* some shared style */
.three-box-shred-big-title{
font-weight: bold;
font-size: 1.5rem;
color: rgba(32, 32, 32, 1);
}
.three-box-shred-small-title{
font-weight: 500;
font-size: 1rem;
margin-top: 20px;
color: rgba(128, 128, 128, 1);
font-family: "Raleway", serif;
}
.text-decoration{
    text-decoration: none;
}
/* three box styles */
/* three boxes main parent  */
.three-box-parent-section-in-main{
    display: flex;
    align-items: center;
    max-width: 1160px;
    margin: 80px auto;
    text-align: center;
    gap: 28px;
   
}
/* only three boxes parent */
.three-box-parent-max-width{
    max-width: 367px;
   box-shadow: 0px 0px 5px black;
    padding: 70px 50px 60px 50px;
    border-radius: 17px;
}
/* three boxes read more pard (a tag part) */
.t-box-f-a{
color: rgba(100, 200, 255, 1);
font-weight: bold;
/* margin-top: 35px; */
}
.t-box-s-a{
color: rgba(240, 170, 0, 1);
font-weight: bold;
/* margin-top: 50px; */

}
.t-box-t-a{
    color: rgba(135, 0, 255, 1);
    font-weight: bold;
   

}
.three-box-first-img-parrent{
    /* width: 130px; */
    height: 130px;
   
}
/* three boxes part end */
/* main part end*/
